<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Insta Automation</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Viewport height */
        margin: 0;
      }
      /* Additional styles for content */
      .content {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <h1>Schedule a recurring time for Task to take place</h1>
    <form action="/schedule_task" method="post" enctype="multipart/form-data">
      <input
        type="text"
        name="name_of_task"
        placeholder="Name of Task"
        required
      />
      <input type="time" id="time" name="time" required />

      <input type="file" name="file" required multiple />
      <input type="submit" value="Create Task" required />
    </form>
    <table>
      <tr>
        <th>Name</th>
        <th>Next Trigger</th>
        <th>Status</th>
        <th>Action</th>
      </tr>

      {% for job in jobs %}
      <tr>
        <th>{{job.id}}</th>
        <th>{{job.next_run_time}}</th>
        <th>{{job.status}}</th>
        <th><button>Remove</button></th>
      </tr>
      {% endfor %}
    </table>
    <a href="/logout"><button>Logout</button> </a>
  </body>
</html>
