<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Insta Automation</title>
    <style>
        body {
            display: flex;
            flex-direction: column  ;
            justify-content: center;
            align-items: center;
            height: 100vh; /* Viewport height */
            margin: 0;
        }
        /* Additional styles for content */
        .content {
            text-align: center;
        }
    </style>
</head>
<body>
   <h1>Welcome to Insta Automation</h1> 
   <a href="/login"><button>Login</button> </a>
</body>
</html>